body{
    font-family: 'Spartan', sans-serif;
}

.bloc_page{
    margin-top: 10%;
    margin-right: 10%;
    margin-left: 20%;
}

.bloc-haut-gauche{
    color: #511f50;
    margin-right: 150px;
    
}

.double-bloc-coteçcote{
    display: flex;
}

.etoile_aligner_a_texte1, .etoile_aligner_a_texte2, .etoile_aligner_a_texte3 {
    display: flex;
    background-color: #f7f2f8;
    border-radius: 10px;
}

.taille-etoile{
    width: 20px;
    height: 20px;
    margin-left: 4px;
}

.etoile_aligner_a_texte1 p, .etoile_aligner_a_texte2 p, .etoile_aligner_a_texte3 p{
    margin-left: 10px;
}

.etoile_aligner_a_texte1 img, .etoile_aligner_a_texte2 img, .etoile_aligner_a_texte3 img{
    padding-top: 10px;
}

.etoile_aligner_a_texte2{
    margin-left: 45px;
    margin-top: 10px;

}

.etoile_aligner_a_texte3{
    margin-left: 90px;
    margin-top: 10px;
}

.bloc-haut-gauche h1{
    font-size: 30px;
    font-weight:700;
    font-style: normal;
}

/* les blocs violet*/

.les_3_bloc_violet{
    display: flex;
    margin-top: 40px;
}

.image_et_nom img{
    float: left;
    border-radius: 40px;
    width: 50px;
    margin-right: 20px;
}

.bloc_violet_1, .bloc_violet_2{
    margin-right: 30px;
    background-color: #511f50;
    border-radius: 10px;
    padding: 25px;
}

.bloc_violet_3{
    background-color: #511f50;
    border-radius: 10px;
    padding: 25px;
}

.image_et_nom h2{
    color: white;
    font-size: 13px;
}

.image_et_nom h3{
    color: #be6da5;
    font-size: 13px;
    margin-top: -5px;
}

.image_et_nom p{
    color: white;
    font-size: 13px;
    margin-top: 30px;
}

